<header>
  <div class="container">
    <a routerLink="" routerLinkActive="activebutton" class="logo">Vehicle tracker</a>
    <nav>
      <ul>
        <li>
          <a *ngIf="auth.isAuthenticated$ | async"
            (click)="auth.logout({ logoutParams: { returnTo: document.location.origin } })">Log out</a>
          <a *ngIf="!(auth.isAuthenticated$ | async)" (click)="auth.loginWithRedirect()">Log in</a>
        </li>
        <li *ngIf="(auth.isAuthenticated$ | async)">
          <a routerLink="/dashboard">Dashboard</a>
        </li>
        <li *ngIf="auth.isAuthenticated$ | async">
          <a routerLink="/user-profile">Profile</a>
        </li>
      </ul>
    </nav>
  </div>
</header>