<div class="card">
  <div class="vehicle-type-icon">
    <img *ngIf="vehicle.type === 'Car'" [src]="carImg" [alt]="vehicle.type">
    <img *ngIf="vehicle.type === 'Boat'" [src]="boatImg" [alt]="vehicle.type">
    <img *ngIf="vehicle.type === 'Truck'" [src]="truckImg" [alt]="vehicle.type">
  </div>
  <div class="data-container">
    <div class="main-data">
      <div class="data">
        <span class="label">License Plate </span>
        <br>
        <span>{{vehicle.licensePlate}}</span>
      </div>
      <div class="data">
        <span class="label">CV </span>
        <br>
        <span>{{vehicle.cv}}</span>
      </div>
      <div class="data">
        <span class="label">Color </span>
        <br>
        <span>{{vehicle.color}}</span>
      </div>
    </div>
    <div class="extra-data" *ngIf="vehicle.type === 'Car'">
      <div class="data" *ngFor="let extra of vehicle.extras">
        <span class="label">Extra </span>
        <br>
        {{extra}}
      </div>
    </div>
    <div class="extra-data" *ngIf="vehicle.type === 'Boat'">
      <div class="data">
        <span class="label">Model </span>
        <br>
        {{vehicle.model}}
      </div>
    </div>
    <div class="extra-data" *ngIf="vehicle.type === 'Truck'">
      <div class="data">
        <span class="label">Max. cargo load </span>
        <br>
        {{vehicle.load}}
      </div>
    </div>
  </div>

  <div class="actions" *ngIf="(auth.isAuthenticated$ | async)">
    <button type="button" (click)="onDelete()" class="borrar">x</button>
    <button type="button" (click)="onEdit()" class="editar">e</button>
  </div>
</div>