<div class="card">
  <div class="vehicle-type-icon">
    <img *ngIf="vehicle.type === 'Car'" [src]="carImg" [alt]="vehicle.type">
    <img *ngIf="vehicle.type === 'Motorcycle'" [src]="motorcycleImg" [alt]="vehicle.type">
    <img *ngIf="vehicle.type === 'Truck'" [src]="truckImg" [alt]="vehicle.type">
  </div>
  <div class="data-container">
    <div class="main-data">
      <div class="data">
        <span class="label">License Plate </span>
        <br>
        <span>{{vehicle.licensePlate}}</span>
      </div>
      <div class="data">
        <span class="label">Brand </span>
        <br>
        <span>{{vehicle.brand}}</span>
      </div>
      <div class="data">
        <span class="label">Model </span>
        <br>
        <span>{{vehicle.model}}</span>
      </div>
      <div class="data">
        <span class="label">Year </span>
        <br>
        <span>{{vehicle.year}}</span>
      </div>
      <div class="data">
        <span class="label">Color </span>
        <br>
        <span>{{vehicle.color}}</span>
      </div>
    </div>
    <div class="extra-data" *ngIf="vehicle.type === 'Car'">
      <div class="data">
        <span class="label">Door number </span>
        <br>
        {{vehicle.numDoors}}
      </div>
    </div>
    <div class="extra-data" *ngIf="vehicle.type === 'Motorcycle'">
      <div class="data">
        <span class="label">Engine size </span>
        <br>
        {{vehicle.engineSize}}
      </div>
    </div>
    <div class="extra-data" *ngIf="vehicle.type === 'Truck'">
      <div class="data" *ng>
        <span class="label">Cargo capacity </span>
        <br>
        {{vehicle.cargoCapacity}}
      </div>
    </div>
  </div>

  <div class="actions" *ngIf="isAdmin">
    <button type="button" (click)="onDelete()" class="borrar">x</button>
    <button type="button" (click)="onEdit()" class="editar">e</button>
  </div>
</div>